*{
	box-sizing: border-box;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

body{
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	line-height: 1.5em;
	color: #d9d8d9;
	background: url(../img/background.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #7b787c;
}

.container{
	position: relative;
	width: 70%;
	max-width: 100%;
	margin: 0 auto;
}


.top_bar {
	margin-bottom: 120px;
}


.navigation {
	display: inline-block;
	float: right;
	cursor: pointer;
	margin-top: 15px;
	text-decoration: none;
}

.home {
	font-weight: 300;
}

.navigation ul li {
	display: inline-block;
	float: left;
	cursor: pointer;
	padding: 0px 10px 0px 25px;
	text-decoration: none;
	color: #fff;
}

.navigation a {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	font-weight: 200;
}

h1 {
	font-family: Teko, Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.2em;
}

.logo {
	float: left;
	width: 70px;
	height: 70px;
	background-color: #f63c3c;
}

.logo_text {
	display: block;
	margin-top: 10px;
    margin-left: 5px;
    font-family: Teko, Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 6px;
	line-height: 0.8em;
	text-align: center;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.logo_underline
{
	display: block;
    margin-left: 22px;
    width:25px;
    height:3px;
    background-color:#fff;

}

.hero{
	margin-bottom: 40px;
}

.hero_title {

	font-size: 120px;
	letter-spacing: 12px;
	margin-bottom: 48px;
	text-align: center;
}

.hero .active {
	display: inline-block;
	margin-top: 231px;
	margin-right: 4px;
	margin-left: 4px;
    width:45px;
    height:5px;
	background-color: #fff;
    text-decoration: none;
}

.hero .nonactive {
	display: inline-block;
	margin-top: 231px;
	margin-right: 4px;
	margin-left: 4px;
    width:45px;
    height:5px;
    opacity: 0.3;
    background-color: #fff;
    text-decoration: none;
}

h2 {
	color: #000;
	font-size: 40px;
	font-family: Teko, Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 7px;
}

h3{
	color: #000;
	font-size: 30px;
	font-family: Teko, Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;
}


.projects_title {

}

.p1 {
	position: relative;
	margin-top: 100px;
	float: left;
	display: inline-block;
	max-width:50%;
 	max-height:50%;
 	clear: left;
}

.p2 {
	position: relative;
	margin-top: 100px;
	float: right;
	display: inline-block;
	max-width: 50%;
 	max-height: 50%;
 	clear: right;
	
}

.p3 {
	position: relative;
	margin-top: 100px;
	float: left;
	display: inline-block;
	margin: 0 auto;
	width: 50%;
}

.p4 {
	position: relative;
	margin-top: 100px;
	float: right;
	display: inline-block;
	margin: 0 auto;
	width: 50%;
}

.title p {
	position: relative;
	width: 80%;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 45px;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
	color: #c2bbb4;
}

button {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	font-family: 'Teko', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #000;
	background-color: #fff;
	border: none;
	vertical-align: bottom;
	height: 50px;
	width: 230px;
	cursor: pointer;
}

.work {
	background-color: #fff;
	max-width: 100%;
	height: 1500px;
}

.cta {
	background-color: #f63c3c;
	max-width: 100%;
	height: 240px;
}

.contact {
	background-color: #fafafa;
	max-width: 100%;
	height: 505px;
}

.contact ul li {
	display: inline-block;
	cursor: pointer;
	margin-top: 180px;
	text-decoration: none;
	color: #fff;
	background-color: #30282a;
	width: 273px;
	height: 195px;
}

.contact a {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	font-weight: 300;
}

footer {
	background-color: #fff;
	max-width: 100%;
	height: 75px;
}
